@import 'fonts.css';


:root {
    --body: #fff;
    --text: #323232;
    --link: #7177F1;
    --title: #7177F1;
    --btn: #7177F1;
    --dots-active: #7177F1;
    --dots: #828282;
    --font-primary: 'Montserrat';
    --font-secondary: 'Trebuchet';
}


body {
    background: var(--body);
    font-family: var(--font-primary);
    color: var(--text);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* -------------------------------- START ------------------------------------ */

.logo::before {
    content: url(../img/svg/logo-light.svg);
}

.all-btn {
    background: var(--btn);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    color: #fff !important;
    text-align: center;
    padding: 10px 0;
    display: block;
    transition: 500ms;
    text-transform: capitalize;
}

.all-btn:hover {
    background: #fff;
    color: var(--btn) !important;
}

.title {
    font-size: 40px;
    font-weight: 600;
    color: var(--title);
}

@keyframes matrix {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg) scale(1.3);
        border-radius: 0;
    }
}

/* ----------------------------- HEADER__START --------------------------------- */

.header__nav {
    position: relative;
}

.header__nav::before {
    content: '';
    position: absolute;
    width: 3.5vw;
    height: 3.7vw;
    left: 243.95px;
    top: 32px;
    border: 0.3vw solid #790FF1;
    border-radius: 50%;
    z-index: -1;
    animation: matrix 2s linear infinite alternate;
}

.header__nav::after {
    content: '';
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 73.66px;
    top: 92.64px;
    border: 0.3vw solid #9297EF;
    z-index: -1;
    animation: matrix 2s linear infinite alternate;
}

.header__content {
    padding: 42px 0 75px;
    position: relative;
}

.header__content::before {
    content: '';
    position: absolute;
    width: 5vw;
    height: 5vw;
    right: 6%;
    top: 60.26px;
    border: 0.3vw solid #9297EF;
    z-index: -1px;
    animation: matrix 2s linear infinite alternate;
}

.header__content::after {
    content: '';
    position: absolute;
    width: 4vw;
    height: 4vw;
    right: 15%;
    top: 419.38px;
    border: 0.3vw solid #7177F1;
    box-sizing: border-box;
    animation: matrix 2s linear infinite alternate;
}

.header__list {
    column-gap: 30px;
    row-gap: 15px;
}

.header__link {
    color: var(--link);
    font-size: 24px;
    line-height: 16px;
    transition: 500ms;
}

.header__link:hover {
    color: var(--text);
}

.header__link {
    width: 190px;
}

.header__menu {
    width: 50px;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    border: none;
    transition: 500ms;
}

.header__menu:focus {
    box-shadow: unset;
}

.header__menu::before,
.header__menu::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text);
}

.header__menu::after {
    top: 10px;
}

.header__menu:not(.collapsed)::before {
    top: 0;
    transform: rotate(-45deg);
}

.header__menu:not(.collapsed)::after {
    top: 0;
    transform: rotate(45deg);
}

.header__menu.collapsed {
    background: var(--text);
}

.header__content-subtitle {
    font-size: 24px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 10px;
}

.header__content-title {
    line-height: 50px;
    margin-bottom: 25px;
}

.header__content-btn {
    max-width: 300px;
    width: 100%;
    margin: 0 auto 50px;
}

.header__tech-card:first-of-type .header__tech-brand {
    color: #E44F26;
}

.header__tech-card:nth-of-type(2) .header__tech-brand {
    color: #1572B6;
}

.header__tech-card:last-of-type .header__tech-brand {
    color: #790FF1;
}

.header__tech-name {
    font-weight: 900;
    font-size: 20px;
    color: var(--title);
}

.header__carousel-indicators {
    position: static;
    margin: 50px 0 0;
    column-gap: 30px;
}

.header__indicators-dots {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    background: var(--dots) !important;
    border: none !important;
    opacity: 1 !important;
}

.header__indicators-dots.active {
    background: var(--dots-active) !important;
}

.header__carousel-img {
    max-height: 500px;
}

/* ----------------------------- HEADER__END --------------------------------- */

/* ----------------------------- ABOUT START ---------------------------------- */

.about {
    position: relative;
}

.about::before {
    content: url(../img/svg/figure_1.svg);
    position: absolute;
    top: -70%;
    right: 0;
    z-index: -1;
}

.about__work {
    max-width: 190px;
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
    padding: 15px 0;
    top: 70px;
    left: -8%;
}

.about__ball {
    width: 40px;
    height: 40px;
    background: #0FDAC2;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    position: absolute;
    top: -14px;
    right: -14px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.about__desc {
    background: var(--body);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    padding: 30px;
    display: grid;
    row-gap: 20px;
}

.about__desc-txt {
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: var(--text);
}

.about__desc-btn {
    max-width: 190px;
    width: 100%;
    text-transform: uppercase;
}

/* ----------------------------- ABOUT END ---------------------------------- */


/* -------------------- CAPABILITIES START ----------------------------------- */


.capabilities {
    padding: 80px 0;
}

.capabilities__title {
    margin-bottom: 30px;
    text-transform: capitalize;
}

.accordion {
    background: var(--body);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    overflow: hidden;
}

.accordion__button {
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 15px 30px;
    background: var(--title);
    color: #fff;
    transition: 500ms;
    position: relative;
    justify-content: center;
}

.accordion__button.collapsed {
    background: var(--body);
    color: var(--title);
}

.accordion__body {
    font-size: 18px;
    line-height: 27px;
    background: var(--title);
    text-transform: capitalize;
    color: #fff;
    padding: 30px;
}

.accordion__brand {
    transition: .4s;
}

.accordion__icon-down {
    font-size: 25px;
    transform: rotate(180deg);
    transition: 300ms;
}

.accordion__button.collapsed .accordion__icon-down {
    transform: rotate(0);
}

.accordion__item:first-of-type .accordion__button.collapsed .accordion__brand {
    color: #E44F26;
}
.accordion__item:nth-of-type(2) .accordion__button.collapsed .accordion__brand {
    color: #1572b6;
}
.accordion__item:last-of-type .accordion__button.collapsed .accordion__brand {
    color: #790ff1;
}

.accordion__item:first-of-type .accordion__button.collapsed::after, 
.accordion__item:nth-of-type(2) .accordion__button.collapsed::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 1px;
    background: #DDDDDD;
}



/* -------------------- CAPABILITIES END ----------------------------------- */




.footer__list {
    list-style: none;
    column-gap: 20px;
}

.footer__link {
    color: var(--text);
    text-transform: capitalize;
}

.footer__content {
    color: var(--text);
}